.opacity-0 {
    opacity: 0;
  }
  
  .opacity-100 {
    opacity: 1;
  }
  
  .pointer-events-none {
    pointer-events: none;
  }
  
  .pointer-events-auto {
    pointer-events: auto;
  }
  
  .transition-all {
    transition: all 0.3s ease-in-out;
  }
  